[Unit]
Description=UtterMux provider broker socket

[Socket]
ListenSequentialPacket=%t/uttermux.sock
SocketMode=0600
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
