[Unit]
Description=UtterMux universal text-to-speech provider broker
Requires=uttermux.socket
After=uttermux.socket

[Service]
Type=simple
ExecStart=@CMAKE_INSTALL_FULL_LIBDIR@/uttermux/uttermuxd
Restart=on-failure
RestartSec=2
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=read-only

[Install]
Also=uttermux.socket
